.bg-img {
    /* The image used */
    background-image: url("Home.jpg");
  
    min-height: 800px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #060000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 550px;
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  #foto1 img{
    width: 505px;
    height: 700px;
    TOP:100px;
    position: absolute;
   left: 0px;
  }
 #foto2 img{
  width: 505x;
  height: 700px;
  TOP:100px;
  position: absolute;
  left: 505px;
}
#foto3 img{
  width: 505x;
  height: 700px;
  TOP:100px;
  position: absolute;
  left: 985px;
}
#foto4 img{
  width: 505px;
  height: 700px;
  TOP:800px;
  position: absolute;
 left: 0px;
}
#foto5 img{
  width: 505px;
  height: 700px;
  TOP:800px;
  position: absolute;
 left: 505px;
}
#foto6 img{
  width: 505px;
  height: 700px;
  TOP:800px;
  position: absolute;
 left: 1005px;
}


body{
  background-color: rgb(55, 55, 55);
}